@page "/"

<PageTitle>Toast basic example </PageTitle>

<button @onclick="ShowModal"> Show toast </button>

@code {
    public void ShowModal()
    {
        throw new NotImplementedException();
    }
}